@import "compass";

@function box-values($max: 30) {
	$values: null;

	@for $i from 1 through 4 {
		$values: append($values, unquote(random($max) + "px"), space);
	}

	@return unquote($values);
}

@mixin box-properties($dimensions: true) {
	$rand: random(30);

	border: solid gray;
	border-width: box-values($rand);

	$rand: random(50);

	margin: box-values($rand);
	padding: box-values($rand);

	$rand: random(650);

	@if $dimensions {
		width: unquote(random($rand) + 50 + "px");
		height: unquote(random($rand) + 50 + "px");
	}
}

// On complete
@include keyframes(complete) {
	from {
		background: #fff;
	}

	50% {
		background: rgba(#0f0, 0.5);
	}

	to {
		background: #fff;
	}
}

.complete {
	@include animation(complete 0.5s linear);
}

#flex-container, #flex-container * {
	margin: 0;
	padding: 0;
	border: 0;
	font: normal 12px/1 Arial;
	list-style: none;
}

#flex-container {
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.4;
	outline: 1px solid green;
	z-index: -1;
}

#flex-target {
	@include box-properties(false);

	width: 600px;
	height: 600px;

	overflow: hidden;
	vertical-align: top;
}

#flex-target div.width {
	width: auto;
}

#flex-target div.height {
	height: auto;
}

#flex-col-1 {
	background: #ccc;
	@include box-properties;
}

#flex-col-2 {
	background: red;
	@include box-properties;
}

#flex-col-3 {
	background: teal;
	@include box-properties;
}

#flex-col-4 {
	background: purple;
	@include box-properties;
}

#flex-col-5 {
	background: green;
	@include box-properties;
}

#flex-col-6 {
	background: blue;
	@include box-properties;
}
