[submodule "lib/css-regions-polyfill"]
	path = lib/css-regions-polyfill
	url = git://github.com/adobe-webplatform/css-regions-polyfill.git
[submodule "lib/specificity"]
	path = lib/specificity
	url = git://github.com/keeganstreet/specificity.git
[submodule "lib/microevent"]
	path = lib/microevent
	url = git://github.com/jeromeetienne/microevent.js.git
