[submodule "lib/css-regions-polyfill"]
	path = lib/css-regions-polyfill
	url = git://github.com/adobe-webplatform/css-regions-polyfill.git
[submodule "lib/domready"]
	path = lib/domready
	url = https://gist.github.com/5192352.git
[submodule "lib/specificity"]
	path = lib/specificity
	url = git://github.com/keeganstreet/specificity.git
