@-moz-keyframes complete {
  /* line 44, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 48, ../scss/runner.scss */
  50% {
    background: rgba(0, 255, 0, 0.5);
  }

  /* line 52, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@-webkit-keyframes complete {
  /* line 44, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 48, ../scss/runner.scss */
  50% {
    background: rgba(0, 255, 0, 0.5);
  }

  /* line 52, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@-o-keyframes complete {
  /* line 44, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 48, ../scss/runner.scss */
  50% {
    background: rgba(0, 255, 0, 0.5);
  }

  /* line 52, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@keyframes complete {
  /* line 44, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 48, ../scss/runner.scss */
  50% {
    background: rgba(0, 255, 0, 0.5);
  }

  /* line 52, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@-moz-keyframes failing {
  /* line 59, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 63, ../scss/runner.scss */
  50% {
    background: rgba(255, 0, 0, 0.5);
  }

  /* line 67, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@-webkit-keyframes failing {
  /* line 59, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 63, ../scss/runner.scss */
  50% {
    background: rgba(255, 0, 0, 0.5);
  }

  /* line 67, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@-o-keyframes failing {
  /* line 59, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 63, ../scss/runner.scss */
  50% {
    background: rgba(255, 0, 0, 0.5);
  }

  /* line 67, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

@keyframes failing {
  /* line 59, ../scss/runner.scss */
  from {
    background: #fff;
  }

  /* line 63, ../scss/runner.scss */
  50% {
    background: rgba(255, 0, 0, 0.5);
  }

  /* line 67, ../scss/runner.scss */
  to {
    background: #fff;
  }
}

/* line 72, ../scss/runner.scss */
.complete {
  -webkit-animation: complete 0.5s linear;
  -moz-animation: complete 0.5s linear;
  -o-animation: complete 0.5s linear;
  animation: complete 0.5s linear;
}

/* line 76, ../scss/runner.scss */
.failing {
  -webkit-animation: failing 0.5s linear;
  -moz-animation: failing 0.5s linear;
  -o-animation: failing 0.5s linear;
  animation: failing 0.5s linear;
}

/* line 80, ../scss/runner.scss */
#flex-container, #flex-container * {
  margin: 0;
  padding: 0;
  border: 0;
  font: normal 12px/1 Arial;
  list-style: none;
}

/* line 88, ../scss/runner.scss */
#flex-container {
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.4;
  outline: 1px solid green;
  z-index: -1;
}

/* line 97, ../scss/runner.scss */
#flex-target {
  border: solid gray;
  border-width: 5px 4px 0px 4px;
  margin: 4px 0px 11px 4px;
  padding: 7px 11px 4px 0px;
  width: 600px;
  height: 600px;
  vertical-align: top;
}

/* line 107, ../scss/runner.scss */
#flex-target.visible,
#flex-target div.visible {
  overflow: visible;
}

/* line 112, ../scss/runner.scss */
#flex-target.hidden,
#flex-target div.hidden {
  overflow: hidden;
}

/* line 117, ../scss/runner.scss */
#flex-target.width,
#flex-target div.width {
  width: auto;
}

/* line 122, ../scss/runner.scss */
#flex-target.height,
#flex-target div.height {
  height: auto;
}

/* line 126, ../scss/runner.scss */
#flex-target p {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-color: rgba(128, 128, 128, 0.5);
}

/* line 133, ../scss/runner.scss */
#flex-col-2 p, #flex-col-4 p, #flex-col-6 p {
  float: left;
  width: 50%;
}

/* line 143, ../scss/runner.scss */
#flex-col-1 {
  background: #cccccc;
  border: solid gray;
  border-width: 3px 3px 3px 3px;
  margin: 4px 6px 2px 8px;
  padding: 2px 0px 1px 8px;
  width: 215px;
  height: 333px;
}
/* line 147, ../scss/runner.scss */
#flex-col-1 p {
  border: solid gray;
  border-width: 0px 3px 0px 0px;
  margin: 3px 3px 5px 3px;
  padding: 4px 2px 5px 2px;
}

/* line 143, ../scss/runner.scss */
#flex-col-2 {
  background: red;
  border: solid gray;
  border-width: 4px 10px 13px 12px;
  margin: 5px 19px 6px 19px;
  padding: 1px 18px 14px 2px;
  width: 234px;
  height: 106px;
}
/* line 147, ../scss/runner.scss */
#flex-col-2 p {
  border: solid gray;
  border-width: 1px 4px 3px 5px;
  margin: 3px 10px 9px 10px;
  padding: 8px 13px 6px 3px;
}

/* line 143, ../scss/runner.scss */
#flex-col-3 {
  background: teal;
  border: solid gray;
  border-width: 4px 7px 0px 1px;
  margin: 2px 2px 1px 1px;
  padding: 1px 2px 2px 0px;
  width: 176px;
  height: 118px;
}
/* line 147, ../scss/runner.scss */
#flex-col-3 p {
  border: solid gray;
  border-width: 0px 7px 1px 7px;
  margin: 2px 3px 11px 5px;
  padding: 16px 1px 16px 15px;
}

/* line 143, ../scss/runner.scss */
#flex-col-4 {
  background: purple;
  border: solid gray;
  border-width: 5px 3px 3px 3px;
  margin: 3px 2px 3px 9px;
  padding: 12px 13px 10px 5px;
  width: 343px;
  height: 140px;
}
/* line 147, ../scss/runner.scss */
#flex-col-4 p {
  border: solid gray;
  border-width: 1px 1px 1px 0px;
  margin: 13px 14px 18px 8px;
  padding: 9px 15px 19px 14px;
}

/* line 143, ../scss/runner.scss */
#flex-col-5 {
  background: green;
  border: solid gray;
  border-width: 3px 3px 2px 6px;
  margin: 0px 23px 22px 10px;
  padding: 14px 10px 23px 4px;
  width: 108px;
  height: 102px;
}
/* line 147, ../scss/runner.scss */
#flex-col-5 p {
  border: solid gray;
  border-width: 5px 9px 5px 3px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* line 143, ../scss/runner.scss */
#flex-col-6 {
  background: blue;
  border: solid gray;
  border-width: 0px 4px 12px 3px;
  margin: 4px 7px 10px 6px;
  padding: 12px 6px 11px 1px;
  width: 198px;
  height: 114px;
}
/* line 147, ../scss/runner.scss */
#flex-col-6 p {
  border: solid gray;
  border-width: 5px 6px 9px 13px;
  margin: 1px 8px 8px 6px;
  padding: 1px 6px 5px 9px;
}
