#flex-container, #flex-container * {
	margin: 0;
	padding: 0;
	border: 0;
	font: normal 12px/1 Arial;
	list-style: none;
}

#flex-container {
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.4;
	outline: 1px solid green;
	z-index: -1;
}

#flex-target {
	/*  As of August 2012, only supported in Chrome 21+ */
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	width: 600px;
	height: 600px;

	overflow: hidden;
}

#flex-target div.width {
	width: auto;
}

#flex-target div.height {
	height: auto;
}

#flex-col-1 {
	/*margin: 17px 17px 28px 20px;*/
	/*padding: 6px 11px 15px 24px;*/
	border: dotted gray;
	border-width: 8px 5px 3px 2px;
	width: 500px;
	height: 50px;
	background: #ccc;
}

#flex-col-2 {
	/*margin: 12px 7px 22px 17px;*/
	width: 150px;
	height: 100px;
	background: red;
}

#flex-col-3 {
	/*margin: 0;*/
	/*padding: 8px 13px 18px 23px;*/
	border: dotted gray;
	border-width: 9px 14px 19px 24px;
	width: 535px;
	height: 230px;
	background: teal;
}

#flex-col-4 {
	/*margin: 14px 5px 6px 16px;*/
	/*padding: 11px 16px 21px 26px;*/
	width: 180px;
	height: 150px;
	background: purple;
}

#flex-col-5 {
	border: dotted gray;
	border-width: 1px 2px 3px 4px;
	width: 140px;
	height: 150px;
	background: green;
}

#flex-col-6 {
	/*margin: 1px 2px 3px 4px;*/
	width: 330px;
	height: 50px;
	background: blue;
}
