<!doctype html>
<html>
	<head>
		<title>Reflexie Tests</title>
		<link rel="stylesheet" href="css/runner.css" />

		<style>
			#error, #result {
				padding: 10px;
				right: 20px;
				bottom: 20px;
				position: fixed;
				border: 1px dashed #555;
				background: #eee;
				z-index: 10;
				width: 270px;
			}

			#error pre, #result pre {
				margin: 0;
				font-size: 12px;
			}

			#result {
				right: 330px;
				border-color: #050;
				background: rgba(0, 255, 0, 0.3);
			}
		</style>

		<style>
			#flex-container {
				/*left: auto;*/
				/*right: 0;*/
				opacity: 1;
				z-index: 1;
			}

			#flex-target {
				overflow: visible;
			}

			#flex-target p {
				margin: 10px;
				padding: 15px;
				border: 5px solid #005;
				background: rgba(0, 0, 255, 0.3);
			}
		</style>

		<script src="lib/require.js"></script>
		<script>
			require.config({
				paths: {
					"socket.io": "http://0.0.0.0:9999/socket.io/socket.io"
				},
				urlArgs : "cacheBust=" + (new Date()).getTime()
			});
		</script>

		<script>
			require([
				"dist/reflexie",
				"socket.io"
			], function (Flexie, io) {
				var socket = io.connect("http://0.0.0.0:9999");

				socket.on("errorchange", function (data) {
					socket.disconnect();
					window.location.reload();
				});

				socket.on("srcchange", function (data) {
					socket.disconnect();
					window.location.reload();
				});

				var getRect = function (el) {
					var box = {};

					if (el) {
						var rect = el.getBoundingClientRect();
						var keys = Object.keys(rect).sort();

						for (var i = 0, j = keys.length; i < j; i++) {
							var key = keys[i];

							if (key !== "bottom") {
								box[key] = rect[key];
							}
						}
					}

					return box;
				};

				var onComplete = function (data) {
					var result = document.querySelector("#result pre");
					var container = document.querySelector("#flex-target");

					var json = {
						container : getRect(container),
						items : (function () {
							var items = document.querySelectorAll("#flex-target > p");

							var arr = [];

							for (var i = 0, j = items.length; i < j; i++) {
								arr.push(getRect(items[i]));
							}

							return arr;
						}())
					};

					result.innerHTML = JSON.stringify(json, null, 3);
				};

				// Error Reporting Setup
				(function () {
					if (Flexie.support) {
						onComplete();
					} else {
						Flexie.init({
							complete: onComplete
						});
					}
				}());

			});
		</script>
	</head>
	<body>

		<div id="flex-container">
			<div id="flex-target">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec dolor tellus, et dignissim risus. Pellentesque tincidunt ultrices gravida. Nunc lobortis tincidunt tortor vitae molestie. Donec ac magna sed enim sagittis convallis. Praesent at enim at tellus tincidunt commodo. Sed ullamcorper lacus ut eros scelerisque mollis. Nulla nisi risus, interdum vel ultricies consequat, lobortis id mi. Morbi quis quam orci, consectetur vestibulum magna. Duis blandit tristique magna at rutrum. Phasellus feugiat suscipit lorem vel placerat. Sed vel sapien eu velit blandit aliquet. Fusce viverra semper consequat. Duis pretium metus sed sem porta pulvinar faucibus libero semper.</p>

				<p>Ut vitae augue dui. Praesent id fermentum nunc. Aliquam dolor neque, pretium ac viverra ut, rhoncus sit amet lectus. Sed mattis varius est, et gravida turpis tincidunt quis. Ut laoreet bibendum sapien vitae aliquam. Aenean vel augue leo, nec facilisis ante. Phasellus tristique nisi a lorem vehicula ut congue libero bibendum. Aenean rutrum magna a ipsum ornare ac venenatis tellus venenatis. Cras sem risus, congue quis convallis a, ultricies in arcu. Vestibulum eget pulvinar nunc. Maecenas sit amet magna sed quam sodales vulputate a sed lacus. Fusce pharetra hendrerit turpis id volutpat. Vivamus eget tortor dolor, bibendum egestas urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras gravida magna ac nunc molestie id aliquet tortor pellentesque.</p>

				<!--<p>Fusce et orci erat, ut faucibus dui. Sed quis tristique purus. Phasellus vitae magna ac libero mollis vestibulum. Aenean cursus pretium lacus, vel auctor elit ultricies eget. Donec accumsan, justo et tempus fermentum, lectus risus aliquet justo, quis luctus neque sapien at dolor. Donec quam sapien, rutrum at tempor et, pharetra nec ipsum. Mauris nec justo a odio fermentum suscipit. Maecenas libero mauris, ultricies ut posuere et, rhoncus quis enim. Ut non augue in diam blandit elementum vel a dolor. Curabitur enim erat, sagittis eget iaculis et, sagittis quis diam. Ut eget purus id libero elementum facilisis sit amet id felis. Nam cursus auctor viverra. Morbi interdum, nisl vel venenatis consectetur, tortor magna faucibus magna, eu convallis mi risus et felis. Cras tortor justo, elementum eu consectetur et, imperdiet vitae purus. Mauris a gravida arcu. Nullam rhoncus consequat metus non aliquam.</p>

				<p>Integer dictum nibh ut mi tincidunt viverra. Nullam id est nisl. In eget nunc erat. Phasellus at justo ut tortor sagittis dapibus eu vitae nulla. In leo diam, pulvinar vitae vehicula imperdiet, vehicula vitae diam. Morbi mollis porttitor elementum. Sed dignissim luctus nisl non tristique. Quisque lobortis, purus euismod molestie adipiscing, lacus ipsum posuere enim, eget gravida elit purus molestie arcu. Nunc vitae eros ligula. Vestibulum et metus metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

				<p>Donec gravida erat quis lectus scelerisque feugiat. Curabitur vitae sodales dolor. Fusce vel tincidunt enim. Nulla porttitor ligula ut dolor mattis consectetur. Suspendisse sed nulla non mauris accumsan eleifend at a metus. Nulla faucibus auctor magna nec dictum. Nunc erat dolor, fringilla sed ultricies in, fermentum quis turpis. Fusce cursus vulputate sem sit amet ultrices. Nulla condimentum suscipit justo, bibendum sollicitudin felis varius id. Donec nec tellus dolor. Suspendisse augue mi, rutrum vel faucibus sed, aliquet vitae lectus. Integer rutrum dapibus feugiat. Proin a augue ante.</p>-->
			</div>
		</div>

		<div id="result">
			<pre></pre>
		</div>
	</body>
</html>
