<!doctype html>
<html>
	<head>
		<title>Flexbox Tests</title>
		<link rel="stylesheet" href="css/runner.css" />
	</head>
	<body>

		<div id="flex-container">
			<div id="flex-target"></div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				if (!$.browser.chrome) {
					console.error("Only Chrome 21 supports Flexbox.");
					return;
				}

				var sizeMap = {
					"row": "height",
					"row-reverse": "height",
					"column": "width",
					"column-reverse": "width"
				};

				document.title = "Generating results...";

				var toString = function (test) {
					var pristineTest = JSON.parse(JSON.stringify(test));

					var parent = pristineTest.parent;

					parent["flex-flow"] = [
						parent["flex-direction"],
						parent["flex-wrap"]
					].join(" ").trim();

					delete parent["flex-direction"];
					delete parent["flex-wrap"];

					if (parent["flex-flow"] === "") {
						delete parent["flex-flow"];
					}

					var items = pristineTest.items;

					for (var i = 0, j = items.length; i < j; i++) {
						var item = items[i];

						item["flex"] = [
							item["flex-grow"] || "0",
							item["flex-shrink"] || "1",
							item["flex-basis"] || "auto"
						].join(" ").trim();

						delete item["flex-grow"];
						delete item["flex-shrink"];
						delete item["flex-basis"];

						if (item.flex === "") {
							delete item.flex;
						}
					}

					var string = JSON.stringify(pristineTest);
					string = string.replace(/\[/g, "@start").replace(/\]/g, "@end");
					return string;
				};

				var getFlexValues = function (flex) {
					var items = flex.children();

					var values = $.map(items, function (child) {
						var box = child.getBoundingClientRect();
						var keys = Object.keys(box).sort();

						var results = {};

						for (i = 0, j = keys.length; i < j; i++) {
							var key = keys[i];

							if (key === "bottom") {
								continue;
							}

							results[key] = box[key];
						}

						return results;
					});

					var flexbox = flex[0].getBoundingClientRect();
					delete flexbox.bottom;

					return {
						parent: flexbox,
						items: values
					};
				};

				var updateFlexValues = function (parent, items, count) {
					// Get fresh reference
					var flex = $("#flex-target");

					// Remove old children
					flex.empty();

					// Append children based on incoming property
					for (var i = 0, j = count; i < j; i++) {
						var idx = (i + 1);
						flex.append('<div id="flex-col-' + idx + '">Col ' + idx + '</div>');
					}

					// Fresh reference to children
					var children = flex.children();

					// Undo styles
					flex.removeAttr("style");

					// Apply styles
					flex.css(parent);

					// Apply children styles
					for (var i = 0, j = children.length; i < j; i++) {
						var item = JSON.parse(JSON.stringify(items[i])),
							mainSize = item["main-size"];

						if (mainSize === "auto") {
							var direction = sizeMap[parent["flex-direction"]];

							item[direction] = "auto";
						}

						delete item["main-size"];
						$(children[i]).css(item);
					}

					return getFlexValues(flex);
				};

				var iterateTests = function (tests) {
					var results = {};

					for (var i = 0, j = tests.length; i < j; i++) {
						var test = tests[i];

						var parent = test.parent;
						var items = test.items;
						var children = test.children;

						var result = updateFlexValues(parent, items, children);
						var ident = toString(test);

						results[ident] = result;
					}

					return results;
				};

				$.getJSON("/properties?" + new Date().getTime()).then(function (tests) {
					var results = iterateTests(tests);

					$.post("/flex", results, function (data) {
						document.title = data;
					});
				});
			});
		</script>

		<script src="http://0.0.0.0:9999/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect("http://0.0.0.0:9999");

			var onSocket = function (data) {
				socket.disconnect();
				window.location.reload();
			};

			socket.on("csschange", onSocket);
			socket.on("testchange", onSocket);
		</script>
	</body>
</html>
