<!doctype html>
<html>
	<head>
		<title>Flexbox Tests</title>
		<link rel="stylesheet" href="css/runner.css" />
	</head>
	<body>

		<div id="flex-container">
			<div id="flex-target"></div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				if (!$.browser.chrome) {
					console.error("Only Chrome 21 supports Flexbox.");
					return;
				}

				var sizeMap = {
					"row": "height",
					"row-reverse": "height",
					"column": "width",
					"column-reverse": "width"
				};

				var flex = $("#flex-target");
				var tests = {};

				document.title = "Generating results...";

				var getFlexValues = function (rules) {
					var items = flex.children();

					var values = $.map(items, function (child) {
						var box = child.getBoundingClientRect();
						delete box.bottom;

						return box;
					});

					var flexbox = flex[0].getBoundingClientRect();
					delete flexbox.bottom;

					return {
						container: flexbox,
						items: values,
						rules: JSON.parse(JSON.stringify(rules))
					};
				};

				var toString = function (rules) {
					var copy = JSON.parse(JSON.stringify(rules));
					copy["flex-flow"] = copy["flex-direction"] + " " + copy["flex-wrap"];

					delete copy["flex-direction"];
					delete copy["flex-wrap"];

					var arr = [];
					var key;

					var keys = Object.keys(copy);
					var i, j;

					for (i = 0, j = keys.length; i < j; i++) {
						key = keys[i];
						arr.push(key + ": " + copy[key]);
					}

					return arr.join("; ");
				};

				var resetFlexContainer = function (target, children) {
					var i, j, idx,
						flexProp = "-webkit-" + target.initial;

					flex.empty();

					for (i = 0, j = children; i < j; i++) {
						idx = (i + 1);
						flex.append('<div id="flex-col-' + idx + '">Col ' + idx + '</div>');
					}

					flex.removeAttr("style");
					flex.css(target.property, flexProp);
				};

				var loopOfDoom = function (target, props, childLength) {
					var children = flex.children();
					var childStr = "x" + childLength;

					console.log(childLength);

					var direction = props[0],
						wrap = props[1],
						justify = props[2],
						items = props[3],
						content = props[4];

					var a = 0,
						b, c, d, e;

					var rules;
					var str;

					var flexProp = "-webkit-" + target.initial;
					var isStretch;
					var currDir;

					while (direction.values[a]) {
						tests[direction.values[a]] = tests[direction.values[a]] || {};
						tests[direction.values[a]][childStr] = tests[direction.values[a]][childStr] || {
							children: childLength
						};

						rules = {};

						rules[direction.property] = direction.values[a];
						b = 0;

						while (wrap.values[b]) {
							rules[wrap.property] = wrap.values[b];
							c = 0;

							while (justify.values[c]) {
								rules[justify.property] = justify.values[c];
								d = 0;

								while (items.values[d]) {
									rules[items.property] = items.values[d];
									e = 0;

									while (content.values[e]) {
										rules[content.property] = content.values[e];

										flex.removeAttr("style");
										flex.css(target.property, flexProp);
										flex.css(rules);

										isStretch = rules["align-items"] === "stretch";
										isStretch = isStretch || rules["align-content"] === "stretch";

										if (isStretch) {
											currDir = sizeMap[rules["flex-direction"]];
											children.css(currDir, "auto");
										}

										str = toString(rules);
										tests[direction.values[a]][childStr][str] = getFlexValues(rules);

										if (isStretch) {
											children.css(currDir, "");
										}

										e++;
									}

									d++;
								}

								c++;
							}

							b++;
						}

						a++;
					}
				};

				var iterateProperties = function (target, props) {
					var children = [3, 6];
					var i, j;

					for (i = 0, j = children.length; i < j; i++) {
						resetFlexContainer(target, children[i]);
						loopOfDoom(target, props, children[i]);
					}

					return tests;
				};

				$.getJSON("/properties?" + new Date().getTime()).then(function (json) {
					var target = json.target,
						container = json.container,
						props = container.properties,
						shorts = container.shorthands;

					var tests = iterateProperties(target, props);

					$.post("/flex", tests, function (data) {
						document.title = data;
					});
				});
			});
		</script>

		<script src="http://0.0.0.0:9999/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect("http://0.0.0.0:9999");
			socket.on("csschange", function (data) {
				socket.disconnect();
				window.location.reload();
			});
		</script>
	</body>
</html>
