<!doctype html>
<html>
	<head>
		<title>MochaJS Tests</title>
		<link rel="stylesheet" href="lib/browser/mocha.css" />
		<link rel="stylesheet" href="css/runner.css" />

		<script src="lib/require.js"></script>
		<script>
			require.config({
				baseUrl : "/",
				paths: {
					"jquery": "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min",
					"socket.io": "http://10.0.1.130:9999/socket.io/socket.io"
				},
				urlArgs : "cacheBust=" + (new Date()).getTime()
			});
		</script>

		<script>
			require([
				"jquery",
				"socket.io",
				"lib/tests",
				"lib/mocha",
				"lib/expect"
			], function ($, io, tests) {
				mocha.setup({
					setup : "bdd",
					reporter : "html",
					ignoreLeaks : true
				});

				var socket = io.connect("http://10.0.1.130:9999");
				socket.on("datachange", function (data) {
					socket.disconnect();
					window.location.reload();
				});

				$(document).ready(function () {

					tests.setup().then(function () {
						var runner;

						if (window.mochaPhantomJS) {
							runner = mochaPhantomJS.run();
						} else {
							runner = mocha.run();
						}

						runner.on("end", function () {
							document.title = "Done.";
						});

						runner.on("test fail", function (test) {
							throw new Error(test);
						});

						/*runner.on("suite end", function (suite) {
							var tests = suite.tests,
								i, j, test, err;

							for (i = 0, j = tests.length; i < j; i++) {
								test = tests[i];

								if (test.state === "failed") {
									err = test;
									break;
								}
							}

							if (err) {
								socket.emit("suiteerror", {
									properties: suite.parent.title
								});
								console.error(suite.parent.title);
								throw new Error();
							} else {
								var parentSuite = $("#report .suite .suite .suite");
								parentSuite.find(".suite").remove();

								if (parentSuite.length > 6) {
									parentSuite.remove();
								}
							}
						});*/
					});

				});
			});
		</script>
	</head>
	<body>

		<div id="flex-container">
			<div id="flex-target"></div>
		</div>

		<div id="mocha"></div>
	</body>
</html>
